.field
    label Location
    .ui.left.icon.input
        i.compass.icon
        input#location(type='text' value=location)

.field
    .ui.left.icon.input
        i.map.icon
        input#place(type='text' value=locationob.formatted_address placeholder='Add Address')
        .ui.icon.basic.button
            i.link.remove.icon.clearAddress
