.ui.container
    // +submissions
    // +user_management
    #add_doc.ui.basic.button
        i.plus.icon
        |Doc
    .ui.centered.four.stackable.cards
        each docs
            +card_view


