.ui.container
    .ui.horizontal.divider.header Services
    .ui.segments
        .ui.segment 
            .ui.header Web App Development
            .ui.list
                .item
                    .content
                        .header User Login
                        .description Can link with Google, Facebook, LinkedIn, and Twitter Accounts
                .item
                    .content
                        .header Events
                        .description Manage events and track attending members
                .item
                    .content
                        .header Blog
                        .description Separate section with editor role
                .item
                    .content
                        .header Member Management
                        .description Admin backend to view member statistics
                .item
                    .content
                        .header Facet Drill Down (Patent Pending)
                        .description Unique way to browse through data/people and match 
                .item
                    .content
                        .header Member Management
                        .description Admin backend to view member statistics

                
        .ui.segment Content
        .ui.segment Marketing
        .ui.segment Design
    .ui.horizontal.divider.header Apps
    .ui.segments
        .ui.segment Facet Data 
        .ui.segment Watering Hole Community Software
        .ui.segment Bubl Social Data Analytics
    .ui.horizontal.divider.header Projects
    .ui.segments
        .ui.segment Project Sphere
