.ui.stackable.borderless.menu
    .ui.container
        a.ui.header.item(href='/' class="{{isActivePath '/'}}") Project Sphere
        .right.menu 
            if currentUser
                a.item(href="/account/profile/edit" class="{{isActivePath '/account/profile/edit'}}")
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    if currentUser.name
                        | #{currentUser.name}
                    else
                        | Profile
                a#logout.ui.item(href='#') 
                    i.sign.out.icon
                    |Sign Out
            else
                a.ui.item(href='/sign-in') 
                    i.sign.in.icon
                    |Sign In
