with doc
    .ui.container.basic.segment
        .ui.center.aligned.header Edit Document
        .ui.form
            +edit_title
            +edit_image
            +edit_link
            +edit_description
            +edit_tags
            +publish_button
            if isInRole 'admin'
                +edit_type
            .ui.center.aligned.basic.segment
                if tags
                    #save.ui.big.green.button Save
                +delete_button